<div class="container">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <img src="__PUBLIC__/images/super.png" alt="企业登录">
            </div>
            <form class="form-horizontal" role="form" method="post" action="">
                <div class="login-form">
                    <input type="hidden" value="" id="choseType"  name="choseType"/>
                    <input type="hidden" value="1" id="isLogin"  name="isLogin"/>
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="公司邮箱" id="loginName">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="登录密码" id="loginPass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div id="login">
                        <a class="btn btn-primary btn-lg doLogin" href="#" style="width:48%">登录</a>
                        <a class="btn btn-default btn-lg toRegister" href="#" style="width:48%">注册</a>
                        <a class="login-link" href="#">忘记密码?</a>
                    </div>
                    <div id="register" style="display: none">
                        <a class="btn btn-primary btn-lg doRegister" href="#" style="width:48%">创建账号</a>
                        <a class="btn btn-default btn-lg toLogin" href="#" style="width:48%">已有帐号登录</a>
                        <a class="login-link" href="#">*我们暂时不对从事招聘业务的公司提供服务，
                            包括猎头、招聘站</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).on('click', '.doLogin', function () {
    if ($.trim($("#loginName").val()) == "") {
        alert("公司邮箱不可为空");
        return false;
    }
    if ($.trim($("#loginPass").val()) == "") {
        alert("登陆密码不可为空");
        return false;
    }

    $.ajax({
        type: 'post',
        url: "",
        data: {
            isLogin: '1',
            loginName: $("#loginName").val(),
            loginPass: $("#loginPass").val()
        },
        dataType: 'json',
        success: function (result) {
            if (result.status != 1) {
                alert(result.info);
                return false;
            }
            var directUrl = '{:U("/Company/Cvmanager/index")}';
//            if(result.direct == 1){
//                //邮箱认证通过,基本信息已尽完善,跳完简历列表页面
//                var directUrl = '{:U("/Company/Cvmanager/index")}';
//            }else{
//                //邮箱未认证或基本信息未完善,跳完基本信息完善页面
//                var directUrl = '{:U("/Company/Companymanager/index")}';
//            }
            window.location.href = directUrl;
        }
    });
    return false;
});

$(document).on('click', '.doRegister', function () {
    var actObj = $('#chosejy .icon_gou_green');
    var takeType = '';
    for (var i = 0; i < actObj.length; i++) {
        if (actObj.eq(i).attr("jyType") != "" && actObj.eq(i).attr("jyType") > 0) {
            if (takeType != "") {
                takeType += ",";
            }
            takeType += actObj.eq(i).attr("jyType");
        }
    }

    $("#choseType").val(takeType);
    if ($.trim($("#loginName").val()) == "") {
        alert("公司邮箱不可为空");
        return false;
    }
    if ($.trim($("#loginPass").val()) == "") {
        alert("登陆密码不可为空");
        return false;
    }

    $.ajax({
        type: 'post',
        url: "",
        data: {
            isLogin: '0',
            choseType: $("#choseType").val(),
            loginName: $("#loginName").val(),
            loginPass: $("#loginPass").val()
        },
        dataType: 'json',
        success: function (result) {
            if (result.status != 1) {
                alert(result.info);
                return false;
            }
//            if(result.direct == 1){
//                //邮箱认证通过,基本信息已尽完善,跳完简历列表页面
//                var directUrl = '{:U("/Company/Cvmanager/index")}';
//            }else{
//                //邮箱未认证或基本信息未完善,跳完基本信息完善页面
//                var directUrl = '{:U("/Company/Companymanager/index")}';
//            }
            var directUrl = '{:U("/Company/Cvmanager/index")}';
            window.location.href = directUrl;
            return false;
            $("#register").hide();
            $("#login").show();
            $("#isLogin").val(1);
            if ($.trim($(".doLogin").html()) == "") {
                window.location.href = '{:U("/Company/Index/login")}';
            }
        }
    });
    return false;
});
</script>