<div class="menu">
    <div class="t-align m30 clearfix">
        <a href="{:U('Company/Cvmanager/index')}" class="main-btn"><i class="icon icon-resumer"></i><h6>浏览简历</h6></a>
        <a href="{:U('Company/Positionmanager/index')}" class="main-btn"><i class="icon icon-like"></i><h6>竞拍简历</h6></a>
        <a href="{:U('Company/Casemanager/index')}" class="main-btn"><i class="icon icon-post"></i><h6>职位管理</h6></a>
        <a href="{:U('Company/Companymanager/cvroleset')}" class="main-btn"><i class="icon icon-setting"></i><h6>职位设置</h6></a>
        <a href="{:U('Company/Companymanager/index')}" class="main-btn"><i class="icon icon-company"></i><h6>公司信息</h6></a>
    </div>
</div>
