<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>爱才网不一样的猎头体验</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css?<?php echo C('ASSETVESION')?>">
        <!-- Loading  UI -->
        <link rel="stylesheet" href="__PUBLIC__/css/flat-ui.css?<?php echo C('ASSETVESION')?>">
        <link rel="stylesheet" href="__PUBLIC__/css/likevery.css?<?php echo C('ASSETVESION')?>" >
        <link rel="stylesheet" href="__PUBLIC__/css/media.css?<?php echo C('ASSETVESION')?>" >
        <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico?<?php echo C('ASSETVESION')?>">
        <script src="__PUBLIC__/js/jquery-1.8.3.min.js?<?php echo C('ASSETVESION')?>"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="__PUBLIC__/js/html5shiv.js"></script>
          <script src="__PUBLIC__/js/respond.min.js"></script>
        <![endif]-->

        <?php if(!empty($_topCss) && is_array($_topCss)){
        foreach($_topCss as $css){
        echo '<link href="__PUBLIC__/css/' . $css . (strpos($css, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '" rel="stylesheet">';
        }
        }?>
        <?php if(!empty($_topJs) && is_array($_topJs)){
        foreach($_topJs as $js){
        echo '<script src="__PUBLIC__/js/' . $js . (strpos($js, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '"></script>';
        }
        }?>
    </head>
    <body class="bg-resumer">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">爱才网</span>
                </button>
                <a class="navbar-brand" href="{:U('Backend/Index/index')}">爱才网</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">           
                    <li><a >企业后台管理</a></li>
                </ul>     
                <div class="nav navbar-nav navbar-right hidden-sm">
                    <a class="btn btn-primary btn-lg" href="{:U('Company/Index/logout')}">注销</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <if condition="$showNav">
            <include file="Layout:companyNav" />
            </if>
            {__CONTENT__}
        </div>

        <script src="__PUBLIC__/js/jquery-ui-1.10.3.custom.min.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/jquery.ui.touch-punch.min.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/bootstrap-select.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/bootstrap-switch.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/flatui-checkbox.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/flatui-radio.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/jquery.tagsinput.js?<?php echo C('ASSETVESION')?>"></script>
        <script src="__PUBLIC__/js/jquery.placeholder.js?<?php echo C('ASSETVESION')?>"></script>
        <?php if(!empty($_btmCss) && is_array($_btmCss)){
        foreach($_btmCss as $css){
        echo '<link href="__PUBLIC__/css/' . $css . (strpos($css, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '" rel="stylesheet">';
        }
        }?>
        <?php if(!empty($_btmJs) && is_array($_btmJs)){
        foreach($_btmJs as $js){
        echo '<script src="__PUBLIC__/js/' . $js . (strpos($js, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '"></script>';
        }
        }?>
        <?php if(!empty($_pluginCss) && is_array($_pluginCss)){
        foreach($_pluginCss as $css){
        echo '<link href="__PUBLIC__/plugin/' . $css  . (strpos($css, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '" rel="stylesheet">';
        }
        }?>
        <?php if(!empty($_pluginJs) && is_array($_pluginJs)){
        foreach($_pluginJs as $js){
        if(strpos($js, 'artDialog.js') === false){
        echo '<script src="__PUBLIC__/plugin/' . $js . (strpos($js, '?') === false ? '?' : '&') . 'version=' . C('ASSETVESION') . '"></script>';
        }else{
        echo '<script src="__PUBLIC__/plugin/' . $js . '"></script>';
        }
        }
        }?>
    </body>
</html>
