<include file="Layout:navbar" />
<!--职位简介-->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="list-resumer list-post pos ">
        <div class="post-edit"><span class="fui-new"></span><span class="fui-cross"></span></div>
        <div class="resumer-head clearfix">
            <div class="info">
                <h4 >职位名称:产品高级经理</h4>
                <div class="green" title="08月12日 | 北京 | 产品运营">
                    <strong>薪资范围:30万/年</strong>

                </div>
            </div>

        </div>
        <div class="resumer-body" >
            <p>岗位职责
                1、负责产品规划、业务流程设计、功能设计、产品优化等工作；
                2、制定产品需求计划，进行可行性分析及设计，撰写产品功能需求说明书，负责需求的跟踪和控制；
                3、制定产品业务规范，整理、完善产品文档、业务流程及相关内容；

            </p>
            <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                <span class="tag"><span>创业公司</span></span>
                <span class="tag"><span>股权激励</span></span>
                <span class="tag"><span>16薪</span></span>
                <span class="tag"><span>高福利</span></span>
            </div>
        </div>

        <div class="resumer-foot clearfix">
            <div class="pull-left"><a href="post-detail.html" class="btn btn-primary btn-lg">详细介绍</a></div>
        </div>
    </div>
</div>
<!--职位简介 end-->
<!--职位简介-->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="list-resumer list-post pos ">
        <div class="post-edit"><span class="fui-new"></span><span class="fui-cross"></span></div>
        <div class="resumer-head clearfix">
            <div class="info">
                <h4 >职位名称:产品高级经理</h4>
                <div class="green" title="08月12日 | 北京 | 产品运营">
                    <strong>薪资范围:30万/年</strong>

                </div>
            </div>

        </div>
        <div class="resumer-body" >
            <p>岗位职责
                1、负责产品规划、业务流程设计、功能设计、产品优化等工作；
                2、制定产品需求计划，进行可行性分析及设计，撰写产品功能需求说明书，负责需求的跟踪和控制；
                3、制定产品业务规范，整理、完善产品文档、业务流程及相关内容；
                分析.
            </p>
            <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                <span class="tag"><span>创业公司</span></span>
                <span class="tag"><span>股权激励</span></span>
                <span class="tag"><span>16薪</span></span>
                <span class="tag"><span>高福利</span></span>
            </div>
        </div>

        <div class="resumer-foot clearfix">
            <div class="pull-left"><a href="resumer.html" class="btn btn-primary btn-lg">详细介绍</a></div>
        </div>
    </div>
</div>
<!--职位简介 end-->

<!--职位简介-->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="list-resumer list-post pos ">
        <div class="post-edit"><span class="fui-new"></span><span class="fui-cross"></span></div>
        <div class="resumer-head clearfix">
            <div class="info">
                <h4 >职位名称:产品高级经理</h4>
                <div class="green" title="08月12日 | 北京 | 产品运营">
                    <strong>薪资范围:30万/年</strong>

                </div>
            </div>

        </div>
        <div class="resumer-body" >
            <p>岗位职责
                1、负责产品规划、业务流程设计、功能设计、产品优化等工作；
                2、制定产品需求计划，进行可行性分析及设计，撰写产品功能需求说明书，负责需求的跟踪和控制；
                3、制定产品业务规范，整理、完善产品文档、业务流程及相关内容；
                分析.
            </p>
            <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                <span class="tag"><span>创业公司</span></span>
                <span class="tag"><span>股权激励</span></span>
                <span class="tag"><span>16薪</span></span>
                <span class="tag"><span>高福利</span></span>
            </div>
        </div>

        <div class="resumer-foot clearfix">
            <div class="pull-left"><a href="resumer.html" class="btn btn-primary btn-lg">详细介绍</a></div>
        </div>
    </div>
</div>
<!--职位简介 end-->

<!--职位添加-->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="post-add box box-border t-align">
        <span class="fui-plus"></span>
    </div>
</div>
<!--职位添加理 end-->
