body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../职位生成页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:215px;
    top:27px;
    width:867px;
    height:557px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:873px;
    height:563px;
}

.u1 {
    position:absolute;
    left:2px;
    top:270px;
    width:863px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:253px;
    top:69px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../职位生成页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:821px;
    top:27px;
    width:261px;
    height:557px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:563px;
}

.u4 {
    position:absolute;
    left:2px;
    top:270px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:253px;
    top:121px;
    width:418px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:253px;
    top:168px;
    width:516px;
    height:320px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../职位生成页_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:901px;
    top:55px;
    width:90px;
    height:90px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u8 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:871px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:873px;
    top:226px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:420px;
    top:69px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:610px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:521px;
    top:488px;
    width:178px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:334px;
    top:488px;
    width:177px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

