<ol class="breadcrumb">
    <li>分配给我的简历</li>
</ol>
<div class="list">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>简历id</th>
                <th>简历名称</th>
                <th>上传日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <if condition='$cvList.total == 0'>
            <tbody>
                <tr style="text-align: center; font-size: 16px;">
                    <td colspan="4"><b>没有分配给我的简历</b></td>
                </tr>
            </tbody>
            <else />
            <tbody>
            <volist name='cvList.rows' id="cvInfo">
                <tr>
                    <td>{$cvInfo.id}</td>
                    <td><a target="_blank" href="{:U('Backend/CvHandle/downloadcv', array('filePath' => base64_encode($cvInfo['path']), 'filename' => base64_encode($cvInfo['filename'])))}" title="下载简历">{$cvInfo.filename}</a></td>
                    <td><?php echo date('Y-m-d', strtotime($cvInfo['createdate']));?></td>
                    <td>
                        <a href="{:U('Backend/CvHandle/cancelassigncv', array('cvid' => $cvInfo['id']))}" onClick="return confirm('确定取消分配此简历?') ? true : false;">取消分配</a>
                        <a href="{:U('Backend/CvHandle/delcv', array('cvid' => $cvInfo['id']))}" onClick="return confirm('确定删除此简历?') ? true : false;">删除简历</a>
                    </td>
                </tr>
            </volist>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="pageNav">{$cvList.show}</div>
                    </td>
                </tr>
            </tfoot>
        </if>
    </table>
</div>