@charset "utf-8";
@media (min-width:768px){
	.step .title{
		text-align:left
		}
	.content {
	margin-left: 40px;
	}
	.jingpai_company .company {
	width: 20%;
	}
    #activity{
        margin-top:150px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
        margin-left:0px;
    }
    .navbar-brand
    {
       width:270px;
       height:52px;
       background: url(../images/logo.png) no-repeat;
       text-indent:-2000px;
       position:relative;
	   top:12px;
	   left:12px;	  
       overflow:hidden;
    }

    .jobdeer-nav .navbar-nav{
        position:relative;
        left:-120px;
    }




    .jobdeer-nav{
        padding-top:36px;
        padding-bottom:15px;
    }
    .jobdeer-nav .navbar-brand{
        font-size:60px;
        color:#000;
    }
    .jobdeer-nav .navbar-nav>li>a
    {
        font-size:18px;
        color:#424242;
        position:relative;
        top:15px;
        padding:15px 30px;
    }
    .jobdeer-nav .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
    {
        font-size:24px;
        color:#424242;
        font-weight:bold;
        background:none;
    }
	

}

@media  (min-width:768px) and (max-width:992px){
    .navbar-brand
    {
       width:52px;
       height:52px;
       background:url(../images/logo-sm.png?v=1) no-repeat;
       text-indent:-2000px;
       position:relative;
       top:8px;
	   left:20px;
       overflow:hidden;
    }
    .jobdeer-nav .navbar-nav{
        position:relative;
        left:-60px;
    }
	

}

@media (min-width:1100px){
    .step{
        position:relative;
        left:-50px;
    }
}
@media (max-width:1099px)
{
   .step .title{
        padding:10px;
   }
   .login-icon {
	float: none;
	text-align: center;
	margin-bottom:20px
	}
	.login-form {
	float:none;
	margin:0;
	width:100%
	}
}

