<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">竞拍简历列表</a>
        </div>
    </div>
</nav>
<div class="list">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>求职者id</th>
                <th>公司名称</th>
                <th>公司联系人</th>
                <th>公司联系方式</th> 
                <th>竞拍时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <if condition='$employeeList.total == 0'>
            <tbody>
                <tr style="text-align: center; font-size: 16px;">
                    <td colspan="6"><b>没有找到数据</b></td>
                </tr>
            </tbody>
            <else />
            <tbody>
            <volist name='employeeList.rows' id="employeeInfo">
                <tr>
                    <td>{$employeeInfo.managerid}</td>
                    <td>{$employeeInfo.companyname}</td>
                    <td>{$employeeInfo.contact}</td>
                    <td>{$employeeInfo.mobilephone}</td>
                    <td>{$employeeInfo.auctiondate}</td>
                    <td>
                        <a href="{:U('Backend/Employee/changeauthtatus', array('employeeid' => $employeeInfo['id'], 'status' => 'nopass', 'managerid' => $employeeInfo['managerid'],))}" onClick="return confirm('确定操作?') ? true : false;">审核不通过</a>
                        <a href="{:U('Backend/Employee/changeauthtatus', array('employeeid' => $employeeInfo['id'], 'status' => 'pass', 'managerid' => $employeeInfo['managerid'],))}" onClick="return confirm('确定操作?') ? true : false;">审核通过</a>
                    </td>
                </tr>
            </volist>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pageNav">{$employeeList.show}</div>
                    </td>
                </tr>
            </tfoot>
        </if>
    </table>
</div>