<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">账户管理</li>
        <li>
            <a href="{:U('Backend/Role/index')}">角色管理</a>
        </li>
        <li>
            <a href="{:U('Backend/User/index')}">用户管理</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">简历管理</li>
        <li>
            <a href="{:U('Backend/Cvhandle/index')}">未分配的简历</a>
        </li>
        <li>
            <a href="{:U('Backend/Cvhandle/mycv')}">分配给我的待处理简历</a>
        </li>
        <li>
            <a href="{:U('Backend/Cvhandle/simplePassedCv')}">分配给我的已初审简历</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">求职者管理</li>
        <li>
            <a href="{:U('Backend/Manager/index')}">求职者列表</a>
        </li>
        <li>
            <a href="{:U('Backend/Employee/index')}">发布中的求职者列表</a>
        </li>
        <li>
            <a href="{:U('Backend/Employee/auctionauth')}">竞拍管理</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">企业管理</li>
        <li>
            <a href="{:U('Backend/Company/index')}">管理列表</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">订阅邮件管理</li>
        <li>
            <a href="{:U('Backend/Cvmail/index')}">邮件列表</a>
        </li>
    </ul>
</div>