<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">一级分类</li>
        <li class="active">
            <a href="#">二级分类 <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="#">二级分类</a></li>
        <li><a href="#">二级分类</a></li>
        <li><a href="#">二级分类</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">一级分类</li>
        <li><a href="">二级分类</a></li>
        <li><a href="">二级分类</a></li>
        <li><a href="">二级分类</a></li>
        <li><a href="">二级分类</a></li>
        <li><a href="">二级分类</a></li>
    </ul>
</div>