<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">账户管理</li>
        <li>
            <a href="{:U('Backend/Role/index')}">角色管理</a>
        </li>
        <li>
            <a href="{:U('Backend/User/index')}">用户管理</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header">简历处理</li>
        <li>
            <a href="{:U('Backend/CvHandle/index')}">未分配的简历</a>
        </li>
        <li>
            <a href="{:U('Backend/CvHandle/mycv')}">分配给我的待处理简历</a>
        </li>
        <li>
            <a href="{:U('Backend/CvHandle/simplePassedCv')}">分配给我的已初审简历</a>
        </li>
    </ul>
</div>