body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:52px;
    top:130px;
    width:1278px;
    height:137px
}

.u1_normal {
    background-image: url('../简历管理_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:73px;
    top:0px;
    width:116px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:189px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:289px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:389px;
    top:0px;
    width:116px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../简历管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:505px;
    top:0px;
    width:126px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:631px;
    top:0px;
    width:116px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../简历管理_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:747px;
    top:0px;
    width:179px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:926px;
    top:0px;
    width:116px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:1042px;
    top:0px;
    width:116px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:1157px;
    top:0px;
    width:116px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../简历管理_files/u1_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:20px;
    width:73px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u25_container {
    position:absolute;
    left:73px;
    top:20px;
    width:116px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u27_container {
    position:absolute;
    left:189px;
    top:20px;
    width:100px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:289px;
    top:20px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u31_container {
    position:absolute;
    left:389px;
    top:20px;
    width:116px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../简历管理_files/u11_normal.png');
}

.u33_container {
    position:absolute;
    left:505px;
    top:20px;
    width:126px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u35_container {
    position:absolute;
    left:631px;
    top:20px;
    width:116px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../简历管理_files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:747px;
    top:20px;
    width:179px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u39_container {
    position:absolute;
    left:926px;
    top:20px;
    width:116px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u41_container {
    position:absolute;
    left:1042px;
    top:20px;
    width:116px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u43_container {
    position:absolute;
    left:1157px;
    top:20px;
    width:116px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../简历管理_files/u1_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:40px;
    width:73px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u47_container {
    position:absolute;
    left:73px;
    top:40px;
    width:116px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u49_container {
    position:absolute;
    left:189px;
    top:40px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u51_container {
    position:absolute;
    left:289px;
    top:40px;
    width:100px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u53_container {
    position:absolute;
    left:389px;
    top:40px;
    width:116px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../简历管理_files/u11_normal.png');
}

.u55_container {
    position:absolute;
    left:505px;
    top:40px;
    width:126px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u57_container {
    position:absolute;
    left:631px;
    top:40px;
    width:116px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../简历管理_files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:747px;
    top:40px;
    width:179px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u61_container {
    position:absolute;
    left:926px;
    top:40px;
    width:116px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u63_container {
    position:absolute;
    left:1042px;
    top:40px;
    width:116px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u65_container {
    position:absolute;
    left:1157px;
    top:40px;
    width:116px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../简历管理_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:60px;
    width:73px;
    height:52px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:58px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:73px;
    top:60px;
    width:116px;
    height:52px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../简历管理_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:189px;
    top:60px;
    width:100px;
    height:52px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../简历管理_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:289px;
    top:60px;
    width:100px;
    height:52px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u75_container {
    position:absolute;
    left:389px;
    top:60px;
    width:116px;
    height:52px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../简历管理_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:505px;
    top:60px;
    width:126px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:58px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u79_container {
    position:absolute;
    left:631px;
    top:60px;
    width:116px;
    height:52px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../简历管理_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:747px;
    top:60px;
    width:179px;
    height:52px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:58px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u83_container {
    position:absolute;
    left:926px;
    top:60px;
    width:116px;
    height:52px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u85_container {
    position:absolute;
    left:1042px;
    top:60px;
    width:116px;
    height:52px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../简历管理_files/u69_normal.png');
}

.u87_container {
    position:absolute;
    left:1157px;
    top:60px;
    width:116px;
    height:52px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:58px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../简历管理_files/u1_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:112px;
    width:73px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u91_container {
    position:absolute;
    left:73px;
    top:112px;
    width:116px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u93_container {
    position:absolute;
    left:189px;
    top:112px;
    width:100px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../简历管理_files/u5_normal.png');
}

.u95_container {
    position:absolute;
    left:289px;
    top:112px;
    width:100px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u97_container {
    position:absolute;
    left:389px;
    top:112px;
    width:116px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../简历管理_files/u11_normal.png');
}

.u99_container {
    position:absolute;
    left:505px;
    top:112px;
    width:126px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u101_container {
    position:absolute;
    left:631px;
    top:112px;
    width:116px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../简历管理_files/u15_normal.png');
}

.u103_container {
    position:absolute;
    left:747px;
    top:112px;
    width:179px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u105_container {
    position:absolute;
    left:926px;
    top:112px;
    width:116px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u107_container {
    position:absolute;
    left:1042px;
    top:112px;
    width:116px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../简历管理_files/u3_normal.png');
}

.u109_container {
    position:absolute;
    left:1157px;
    top:112px;
    width:116px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:570px;
    top:57px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:378px;
    top:60px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u119 {
    position:absolute;
    left:52px;
    top:57px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:242px;
    top:57px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:57px;
    top:98px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:143px;
    top:98px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:375px;
    top:95px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124_normal {
    background-image: url('../简历管理_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:597px;
    top:366px;
    width:469px;
    height:443px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:475px;
    height:449px;
}

.u125 {
    position:absolute;
    left:2px;
    top:214px;
    width:465px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:52px;
    top:313px;
    width:150px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:57px;
    top:366px;
    width:583px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:571px;
    top:94px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:699px;
    top:63px;
    width:249px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:597px;
    top:313px;
    width:351px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:617px;
    top:382px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:617px;
    top:389px;
    width:150px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:725px;
    top:389px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:725px;
    top:415px;
    width:325px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:725px;
    top:527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:725px;
    top:549px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:782px;
    top:733px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140 {
    position:absolute;
    left:725px;
    top:591px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:725px;
    top:617px;
    width:325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1352px;
    top:212px;
    width:351px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../简历管理_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:1210px;
    top:264px;
    width:469px;
    height:349px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:475px;
    height:355px;
}

.u144 {
    position:absolute;
    left:2px;
    top:166px;
    width:465px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_line {
    background-image: url('../简历管理_files/u145_line.png');
}

.u145_line {
    position:absolute;
    left:0px;
    top:4px;
    width:25px;
    height:3px;
}

.u145 {
    position:absolute;
    left:1209px;
    top:221px;
    width:25px;
    height:10px;
    
}

.u146_line {
    background-image: url('../简历管理_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:104px;
}

.u146 {
    position:absolute;
    left:898px;
    top:262px;
    width:10px;
    height:104px;
    
}

.u147 {
    position:absolute;
    left:1234px;
    top:279px;
    width:270px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:1234px;
    top:446px;
    width:270px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

