    <!-- step one -->
    <div class="step">
        <div class="menu_content" id="apply"> </div>
        <div class="title">
            <i class="num">1</i>提交申请 
            <p class="title-second">不同于以往的企业选人模式，我们以人才为核心，推荐最优秀的精英给企业。<br/>
目前对以下四类互联网精英开发：技术、设计师、产品经理及产品运营,至少拥有2年以上相关经验。</p>
        </div>
        <div class="content clearfix">
            <div class="card_box page-jy-list" style="margin:0">
                <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-bg" > <img src="__PUBLIC__/images/super.png" class="card_icon" alt="技术">
                        <h4>产品超人</h4>
                        <p>产品超人，什么都懂。需要带领团队完成一个个不可能完成的任务。</p>
                        <form action="__URL__/upload" method="post" enctype="multipart/form-data" class="w-h45"  >
                            <paper-button class="btn  btn-lg btn-primary ">上传简历</paper-button>
                            <input type="hidden" name="job_type" value="rd">
                            <input class="upload_file" type="file" onChange="$(this.form).submit();" name="resumes" id="upload_rd">
                        </form>
                    </div>
                </div>
                <!--/card-->
                <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-bg" >
                        <img src="__PUBLIC__/images/bat.png" alt="设计师" class="card_icon">
                        <h4>开发超人</h4>
                        <p>爱代码，爱研发。<br>
                    代码就是一种艺术<br>
                    技术改变生活</p>
                        <form action="__URL__/upload" method="post" enctype="multipart/form-data"  class="w-h45" >
                            <paper-button class="btn  btn-lg btn-primary ">上传简历</paper-button>
                            <input type="hidden" name="job_type" value="ue">
                            <input class="upload_file" type="file" onChange="$(this.form).submit();" name="resumes">
                        </form>
                    </div>
                </div>
                <!--/card-->
                <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-bg" >
                        <img src="__PUBLIC__/images/iron.png" alt="产品经理" class="card_icon">
                        <h4>设计超人</h4>
                        <p>界面设计师不是美工而是高端艺术设计超人！产品颜值就靠我</p>
                        <form action="__URL__/upload" method="post" enctype="multipart/form-data"  class="w-h45" >
                            <paper-button class="btn  btn-lg btn-primary ">上传简历</paper-button>
                            <input type="hidden" name="job_type" value="pm">
                            <input class="upload_file" type="file" onChange="$(this.form).submit();" name="resumes">
                        </form>
                    </div>
                </div>
                <!--/card-->
                <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-bg" >
                        <img src="__PUBLIC__/images/etc.png" alt="运营" class="card_icon">
                        <h4>其他超人</h4>
                        <p>负责产品运营，了解客户需求。精策略！勤推广！产品运营全靠我</p>
                        <form action="__URL__/upload" method="post" enctype="multipart/form-data" class="w-h45" >
                            <paper-button class="btn  btn-lg btn-primary "> 上传简历</paper-button>
                            <input type="hidden" name="job_type" value="operation">
                            <input class="upload_file" type="file" onChange="$(this.form).submit();" name="resumes">
                        </form>
                    </div>
                </div>
                <!--/card-->
            </div>
            <!--/card_box-->
            <!--<div class="niming" phone-hidden> *简历只有在您再次确认后，才会发送给招聘方，<span class="black">没有人会知道您在找工作</span>，请放心。 </div>-->
        </div>
        <!--/content-->
    </div>
    <!-- step two -->
    <div class="step">
        <div class="title">
            <i class="num">2</i>顾问审核
            <p class="title-second">收到您的简历后，会安排专业顾问电话联系您，为您补充信息、提炼优势，制成专业推荐信。<br/>
                为了保证候选人择业的私密性，我们为您准备的是<strong>匿名推荐信（不含联系方式）。</strong></p>
        </div>
        <div class="content">
                       <div class="jd-card card-bg">
                <div  class=" w-media clearfix"> <img src="__PUBLIC__/images/super.png" width="120" height="120" desktop="" class="mr40 mt13 pull-left w-media">
                    <div flex="" class="f24">
                        <div class="quotes lh200"> 我们的顾问团队由来自知名互联网公司的HRD和猎头公司的资深顾问组成。只有这样的团队才能深刻理解供需双方，为候选人提供最极致的求职体验。 </div>
                        <div class="text-right f18 mt15"> ——佳莹，人才团队负责人 </div>
                    </div>
                </div>
            </div>
            <div class="f14 gray mt40"> *由于简历数较多，我们会在<span class="black">3-5个工作日</span>内对您的申请做出回复。 </div>
        </div>
    </div>
    <!--step three-->
    <div class="step">
        <div id="company" class="menu_content"></div>
        <div class="title">
            <i class="num">3</i>招聘方竞拍
            <p class="title-second">有意向的招聘方会向您发送邀请，其中除了招聘方的介绍，还有为您开出的薪资范围。</p>
        </div>
        <div class="content">
            <div class="jingpai_company" touch-action="auto">
                <div class="scroll">
                    <div class="mb20 row">
                        <!--/layout-->
                        <div class="row">
                            <div class="company mt10">
                                <div class="logo"><a href="http://www.taobao.com" target="_blank"><img src="__PUBLIC__/images/logos/alibaba.png"></a></div>
                                <div class="name">阿里巴巴</div>
                                <div class="desc">技术保障部</div>
                                <b class=green>27k*14月</b>
                            </div>
                            <div class="company mt10">
                                <div class="logo"><a href="http://www.sina.com.cn/" target="_blank"><img src="__PUBLIC__/images/logos/qiniu.png"></a></div>
                                <div class="name">七牛云</div>
                                <div class="desc">移动时代的云存储服务商</div>
                                <b class=green>28k*12月</b>

                            </div>
                            <div class="company mt10">
                                <div class="logo"><a href="http://musical.ly" target="_blank"><img src="__PUBLIC__/images/logos/music.png"></a></div>
                                <div class="name">musical.ly</div>
                                <div class="desc">全球音乐视频社交社区</div>
                                <b class=green>30k*14月</b>

                            </div>
                            <div class="company mt10" pad-hidden="">
                                <div class="logo"><a href="http://www.elanview.com" target="_blank"><img src="__PUBLIC__/images/logos/lanyi.png"></a></div>
                                <div class="name">览意科技</div>
                                <div class="desc">航拍和无人机研发团队</div>
                                <b class=green>20k*14月</b>

                            </div>
                            <div class="company mt10">
                                <div class="logo">
                                    <a href="{:U('Company/Index/login')}" target="_blank">
                                        <img src="__PUBLIC__/images/logos/add.png">
                                    </a>
                                </div>
                                <div class="logo">
                                    <a href="{:U('Company/Index/login')}" target="_blank"> 
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{:U('Company/Index/login')}" target="_blank">
                                        注册成为<br>招聘方
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--layout-->
                    </div>
                    <!--/scroll-->
                </div>
                <!--/jingpai_company-->
                <div class="text-center btn-goto-recruiter"> 
                    <a href="{:U('Company/Index/login')}" target="_blank" class="btn btn-green-small mt20">成为招聘方</a> 
                </div>
            </div>
        </div>
    </div>
    <!--step three-->
    <div class="step">
        <div id="company" class="menu_content"></div>
        <div class="title">
            <i class="num">4</i>权利翻转——精英选择企业
            <p class="title-second">您可以从众多邀请中选择喜欢的企业或拒绝不喜欢的（牛人就是这么傲娇）！</p>
        </div>
        <div class="content">
            <div class="jingpai_company" touch-action="auto">
                <div class="scroll">
                    <div class="mb20 row">
                        <!--/layout-->
                        <div class="row mb40">
                            <div class="company mt10">
                                <div class="f18 mt20 mb40">接受的企业</div>
                                <div class="logo">
                                    <a href="http://www.taobao.com" target="_blank">
                                        <span class="pos dock">
                                            <span class="iconCustom icon_gou_green"></span>
                                            <img src="__PUBLIC__/images/logos/alibaba.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="name">阿里巴巴</div>
                                <div class="desc">技术保障部</div>
                                <b class="green">27k*14月</b>

                            </div>
                            <div class="company mt10">
                                <div class="f18 mt20 mb40">&nbsp;</div>
                                <div class="logo">
                                    <a href="http://www.qiniu.com/" target="_blank">
                                        <span class="pos dock">
                                            <span class="iconCustom icon_gou_green"></span>
                                            <img src="__PUBLIC__/images/logos/qiniu.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="name">七牛云</div>
                                <div class="desc">移动时代的云存储服务商</div>
                                <b class="green">28k*12月</b>

                            </div>
                            <div class="company mt10">
                                <div class="f18 mt20 mb40">&nbsp;</div>
                                <div class="logo">
                                    <a href="http://www.sina.com.cn/" target="_blank">
                                        <span class="pos dock">
                                            <span class="iconCustom icon_gou_green"></span>
                                            <img src="__PUBLIC__/images/logos/music.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="name"><a href="http://musical.ly" target="_blank">musical.ly</a></div>
                                <div class="desc">全球音乐视频社交社区</div>
                                <b class="green">30k*14月</b>

                            </div>
                            <div class="company mt10" pad-hidden="">
                                <div class="f18 mt20 mb40">被拒绝的企业</div>
                                <div class="logo">
                                    <a href="http://www.elanview.com/" target="_blank">
                                        <span class="pos dock">
                                            <span class="iconCustom icon_cha_red"></span>
                                            <img src="__PUBLIC__/images/logos/lanyi.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="name">览意科技</div>
                                <div class="desc">航拍和无人机研发团队</div>
                                <b class="green">20k*14月</b>

                            </div>
                            <div class="company mt10" pad-hidden="">
                                <div class="f18 mt20 mb40">&nbsp;</div>
                                <div class="logo">
                                    <a href="http://cn.agora.io" target="_blank">
                                        <span class="pos dock">
                                            <span class="iconCustom icon_cha_red"></span>
                                            <img src="__PUBLIC__/images/logos/shenwang.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="name">声网agora</div>
                                <div class="desc">移动端音视频“黑科技</div>
                                <b class="green">16k*13月</b>

                            </div>
                        </div>
                        <!--layout-->
                    </div>
                    <!--/scroll-->
                </div>
            </div>
        </div>
    <!--step four-->
    


        </div>
    <!--step four-->
<div class="step">
        <div class="title"> <i class="num">5</i>极速面试，开启新的职业生涯 </div>
        <div class="content">
            <div class="f18 lh180 mt20"> 从众多邀请中选择你喜欢的招聘方，接受请求，等待面试预约。<br>
                在Super精英，<span class="green">平均每个候选人会收到10个邀请</span>，可选择多家面试，选择一个最合适自己的，开启职业生涯新旅程吧！ </div>
        </div>
    </div>

