body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:96px;
    top:112px;
    width:1046px;
    height:65px
}

.u1_normal {
    background-image: url('../企业管理_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:73px;
    top:0px;
    width:100px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:173px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:273px;
    top:0px;
    width:116px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../企业管理_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:389px;
    top:0px;
    width:126px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../企业管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:515px;
    top:0px;
    width:179px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:694px;
    top:0px;
    width:116px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:810px;
    top:0px;
    width:116px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:926px;
    top:0px;
    width:116px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../企业管理_files/u1_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:73px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:73px;
    top:20px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u23_container {
    position:absolute;
    left:173px;
    top:20px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:273px;
    top:20px;
    width:116px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../企业管理_files/u9_normal.png');
}

.u27_container {
    position:absolute;
    left:389px;
    top:20px;
    width:126px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../企业管理_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:515px;
    top:20px;
    width:179px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:694px;
    top:20px;
    width:116px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u33_container {
    position:absolute;
    left:810px;
    top:20px;
    width:116px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u35_container {
    position:absolute;
    left:926px;
    top:20px;
    width:116px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../企业管理_files/u1_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:40px;
    width:73px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u39_container {
    position:absolute;
    left:73px;
    top:40px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../企业管理_files/u3_normal.png');
}

.u41_container {
    position:absolute;
    left:173px;
    top:40px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:273px;
    top:40px;
    width:116px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../企业管理_files/u9_normal.png');
}

.u45_container {
    position:absolute;
    left:389px;
    top:40px;
    width:126px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../企业管理_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:515px;
    top:40px;
    width:179px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u49_container {
    position:absolute;
    left:694px;
    top:40px;
    width:116px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u51_container {
    position:absolute;
    left:810px;
    top:40px;
    width:116px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../企业管理_files/u7_normal.png');
}

.u53_container {
    position:absolute;
    left:926px;
    top:40px;
    width:116px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:16px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:16px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:96px;
    top:51px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:286px;
    top:51px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

