<div class="card_box row" id="cvRoleSet">
    <!--card-->
    <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div id="cardDiv1" class="cardDiv card-bg" oType="1" style="padding-top:10px;padding-bottom:10px;">
            <span class="pos dock">
                <span class="iconCustom <?php echo (in_array(1, $subscriptionArr)) ? 'icon_gou_green' : 'icon_gou_grey';?>"></span>
                <img src="__PUBLIC__/images/super.png" class="card_icon" alt="产品">
            </span>
            <h4>产品超人</h4>
            <p>互联网超人，什么都懂。需要带领团队完成一个个不可能完成的任务。</p>
            <a class="btn btn-primary btn-lg">产品经理</a>
        </div>
    </div>
    <!--./ card-->
    <!--card-->
    <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div id="cardDiv2" class="cardDiv card-bg" oType="2" style="padding-top:10px;padding-bottom:10px;">
            <span class="pos dock">
                <span class="iconCustom <?php echo (in_array(2, $subscriptionArr)) ? 'icon_gou_green' : 'icon_gou_grey';?>"></span>
                <img src="__PUBLIC__/images/iron.png" class="card_icon" alt="开发">
            </span>			
            <h4>开发超人</h4>
            <p>爱代码，爱研发。<br>代码就是一种艺术<br>技术改变生活</p>
            <a class="btn btn-primary btn-lg">开发工程师</a>
        </div>
    </div>
    <!--./ card-->
    <!--card-->
    <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div id="cardDiv3" class="cardDiv card-bg" oType="3" style="padding-top:10px;padding-bottom:10px;">
            <span class="pos dock">
                <span class="iconCustom <?php echo (in_array(3, $subscriptionArr)) ? 'icon_gou_green' : 'icon_gou_grey';?>"></span>
                <img src="__PUBLIC__/images/bat.png" class="card_icon" alt="设计">
            </span>
            <h4>设计超人</h4>
            <p>界面设计师不是美工而是高<br/>端艺术设计超人！产品颜值就靠我</p>
            <a class="btn btn-primary btn-lg">UI设计师</a>
        </div>
    </div>
    <!--./ card-->
    <!--card-->
    <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div id="cardDiv4" class="cardDiv card-bg" oType="4" style="padding-top:10px;padding-bottom:10px;">
            <span class="pos dock">
                <span class="iconCustom <?php echo (in_array(4, $subscriptionArr)) ? 'icon_gou_green' : 'icon_gou_grey';?>"></span>
                <img src="__PUBLIC__/images/etc.png" class="card_icon" alt="其他">
            </span>
            <h4>其他超人</h4>
            <p>负责产品运营，了解客户需求。精策略！勤推广！产品运营全靠我</p>
            <a class="btn btn-primary btn-lg">其他类型</a>
        </div>
    </div>
    <!--./ card-->
</div>
<br/><br/>
