<div class="container">
    <div class="page-header">
        <h1>No.{$employeeInfo.id}号候选人<small></small></h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <ul class="jd-ul">
                    <li class="clearfix">
                        <span class="pull-left">性别</span>
                        <span class="pull-right green ">
                            {$managerInfo['gender'] == '1' ? '男' : ($managerInfo['gender'] == '2' ? '女' : '保密')}
                        </span>
                    </li>

                    <li class="clearfix">
                        <span class="pull-left">出生年份</span>
                        <span class="pull-right green ">
                            <?php echo $managerInfo['brithday'] == '0000-00-00' ? '保密' : (date("Y年", strtotime($managerInfo['brithday'])));?>
                        </span>
                    </li>

                    <li class="clearfix">
                        <span class="pull-left">学历</span>
                        <span class="pull-right green ">{$managerInfo.edulevel|getEduByLevel}</span>
                    </li>
                    <li class="clearfix">
                        <span class="pull-left">工作年限</span>
                        <span class="pull-right green ">{$managerInfo.workyear|getWordYearByCode}</span>
                    </li>


                    <li class="clearfix " >
                        <span class="pull-left">在线作品集</span>
                        <span class="pull-right green ">{$managerInfo.homepage}</span>
                    </li>
                </ul>
            </div>
            <div class="box">
                <h6>求职意向</h6>
                <ul class="jd-ul">
                    <li class="clearfix">
                        <span class="pull-left">期望职位</span>
                        <span class="pull-right green ">{$managerInfo.targetposition}</span>
                    </li>

                    <li class="clearfix">
                        <span class="pull-left">当前所在城市</span>
                        <span class="pull-right green ">{$managerInfo.area}</span>
                    </li>
                    <li class="clearfix">
                        <span class="pull-left">目标城市</span>
                        <span class="pull-right green ">{$managerInfo.targetarea}</span>
                    </li>

                    <li class="clearfix">
                        <span class="pull-left">当前薪资</span>
                        <span class="pull-right green ">{$managerInfo.salary}</span>
                    </li>
                    <li class="clearfix">
                        <span class="pull-left">期望薪资</span>
                        <span class="pull-right green ">{$managerInfo.targetsalary}</span>
                    </li>
                    <li class="clearfix">
                        <span class="pull-left">到岗时间</span>
                        <span class="pull-right green ">{$managerInfo.getjobtime}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <h6>我的简介</h6>
                <p>{$managerInfo.selfintroduce}</p>
                <if condition="!empty($managerInfo['question' . $i])">
                    <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
                        <foreach name="tagArr" item="tag" >
                            <span class="tag"><span>{$tag}</span></span>
                        </foreach>
                    </div>
                </if>
            </div>
            <div class="box">
                <h6>面试回答</h6>
                <for start="1" end="6">
                    <if condition="!empty($managerInfo['question' . $i])">
                        <div class="qa">
                            <div class="green q"><?php echo $managerInfo['question' . $i]?></div>
                            <p><?php echo $managerInfo['answear' . $i]?></p>
                        </div>
                    </if>
                </for>
            </div>
            <div class="box">
                <h6>竞拍倒计时</h6>
                <div class="counter">
                    <!--<span class="fui-time"></span>&nbsp;-->
                    <div id="retroclockbox"></div>
                </div>
                <p><small class="gray">超时将不能邀请求职者，牛人可遇不可求哦，要抓紧！！！</small></p>
                <a class="btn btn-lg btn-info " href="#" style="width:30%">查看简历</a>
                <a class="btn btn-primary btn-lg" id='auctionemploee' getcaselisturl="{:U('/Company/Cvmanager/getCaseList', array('employeeid' => $employeeInfo['id']))}" target='_blank' href="{:U('/Company/Cvmanager/auctioncv', array('employeeid' => $employeeInfo['id']))}" style="width:30%">邀请我吧</a>
            </div>
        </div>
    </div>
</div>  
<div id="timer"></div>

<div class="modal fade" id="addCaseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title">职位管理<small class="green">完善信息即可查看简历</small>
                </h6>
            </div>
            <div class="modal-body">
                <ul class="hr-ul">
                    <li class="clearfix">
                        <span class="pull-left left-form"><span class="green">*</span>职位名称</span>
                        <span class="pull-left form-group">
                            <input type="text" id="positionIpt" placeholder="请输入" class="form-control" style="width:360px">
                        </span>
                        <!--<span class="pull-left tips has-error">必须输入职位名称</span>-->
                    </li>
                    <li class="clearfix">
                        <span class="pull-left left-form"><span class="green">*</span>薪资范围</span>
                        <span class="pull-left form-group">
                            <input type="text" id="salaryIpt" placeholder="20万/年" class="form-control" style="width:360px">
                        </span>
                    </li>
                    <li class="clearfix">
                        <span class="pull-left left-form"><span class="green">*</span>工作职责</span>
                        <span class="pull-left form-group  ">
                            <textarea rows="6" id="contentIpt" class="form-control" style="width:360px">
                                
                            </textarea>
                            <!--<span class="pull-left tips has-error">请完善工作职责</span>-->
                    </li>
                    <li class="clearfix">
                        <span class="pull-left left-form">公司福利</span>
                        <span class="pull-left form-group">
                            <textarea class="form-control" id="tagsIpt" style="width:360px"></textarea>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveNewCase">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<input type="hidden" id="saveCasePath" value="{:U('/Company/Casemanager/index')}" />


<div class="modal fade" id="choseCaseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title">职位管理
                    <small class="green">请选择对应职位</small>
                </h6>
            </div>
            <div class="modal-body ">
                <div class="mlr20 mt40 mb40">
                    <span class="pull-left left-form">选择职位</span>
                    <span class="pull-left form-group ">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-wide" data-toggle="dropdown">
                                请选择职位<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="caseList" aria-labelledby="dLabel">
                            </ul>
                        </div></span>
                    <a class="btn btn-primary mlr20 " id='showAddCase'><span class="fui-plus"></span>添加职位</a>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>