<footer phone-hidden="">
    <div class="container clearfix">
        <div class="company_info pull-left col-md-4" >
            <h3>极客优才</h3>
            荣誉出品
        </div>
        <div  class="iw_info pull-left col-md-4" >
            <h3>创新工场</h3>
            家族成员
        </div>
        <div class="contact pull-left col-md-4">
            官方微博- <a href="http://weibo.com/jobdeer" target="_blank">@JobDeer</a> <br>
            官方微信- JobDeer<br>
            意见反馈- ping@geekcompany.net<br>
            <a href="http://t.cn/RPGfUeU" target="_blank">使用的开源项目和云服务</a>
        </div>
    </div>
</footer>