<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">爱才网</span>
        </button>
        <a class="navbar-brand" href="#">爱才网</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">           
            <li class="active"><a href="#fakelink">拍卖自己</a></li>
            <li><a href="#fakelink">竞拍企业</a></li>
            <li><a href="#fakelink">招聘入口</a></li>
        </ul>           
    </div>
</nav>