body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:445px;
    top:14px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../简历流程_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:472px;
    top:699px;
    width:238px;
    height:143px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:149px;
}

.u2 {
    position:absolute;
    left:2px;
    top:64px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../简历流程_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:428px;
    top:81px;
    width:162px;
    height:88px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:94px;
}

.u4 {
    position:absolute;
    left:2px;
    top:36px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../简历流程_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:515px;
    top:615px;
    width:136px;
    height:60px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u6 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7c0 {
    background-image: url('../简历流程_files/u7c0.png');
}

.u7c0 {
    position:absolute;
    left:499px;
    top:165px;
    width:20px;
    height:26px;
}

.u7c1 {
    background-image: url('../简历流程_files/u7c1.png');
}

.u7c1 {
    position:absolute;
    left:492px;
    top:171px;
    width:27px;
    height:20px;
}

.u7c2 {
    background-image: url('../简历流程_files/u7c2.png');
}

.u7c2 {
    position:absolute;
    left:492px;
    top:171px;
    width:20px;
    height:24px;
}

.u8 {
    position:absolute;
    left:-52px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9c0 {
    background-image: url('../简历流程_files/u9c0.png');
}

.u9c0 {
    position:absolute;
    left:573px;
    top:671px;
    width:20px;
    height:28px;
}

.u9c1 {
    background-image: url('../简历流程_files/u9c1.png');
}

.u9c1 {
    position:absolute;
    left:573px;
    top:679px;
    width:28px;
    height:20px;
}

.u9c2 {
    background-image: url('../简历流程_files/u9c2.png');
}

.u9c2 {
    position:absolute;
    left:581px;
    top:679px;
    width:20px;
    height:24px;
}

.u10 {
    position:absolute;
    left:-48px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../简历流程_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:515px;
    top:1166px;
    width:151px;
    height:98px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:104px;
}

.u12 {
    position:absolute;
    left:2px;
    top:41px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13c0 {
    background-image: url('../简历流程_files/u13c0.png');
}

.u13c0 {
    position:absolute;
    left:581px;
    top:838px;
    width:20px;
    height:73px;
}

.u13c1 {
    background-image: url('../简历流程_files/u13c1.png');
}

.u13c1 {
    position:absolute;
    left:581px;
    top:891px;
    width:27px;
    height:20px;
}

.u13c2 {
    background-image: url('../简历流程_files/u13c2.png');
}

.u13c2 {
    position:absolute;
    left:588px;
    top:891px;
    width:20px;
    height:24px;
}

.u14 {
    position:absolute;
    left:-50px;
    top:30px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../简历流程_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:437px;
    top:507px;
    width:131px;
    height:68px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:74px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:127px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17c0 {
    background-image: url('../简历流程_files/u17c0.png');
}

.u17c0 {
    position:absolute;
    left:492px;
    top:453px;
    width:20px;
    height:64px;
}

.u18 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19c0 {
    background-image: url('../简历流程_files/u19c0.png');
}

.u19c0 {
    position:absolute;
    left:492px;
    top:571px;
    width:20px;
    height:44px;
}

.u19c1 {
    background-image: url('../简历流程_files/u19c1.png');
}

.u19c1 {
    position:absolute;
    left:492px;
    top:595px;
    width:101px;
    height:20px;
}

.u19c2 {
    background-image: url('../简历流程_files/u19c2.png');
}

.u19c2 {
    position:absolute;
    left:573px;
    top:595px;
    width:20px;
    height:24px;
}

.u20 {
    position:absolute;
    left:-20px;
    top:22px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../简历流程_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:503px;
    top:911px;
    width:189px;
    height:99px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:105px;
}

.u22 {
    position:absolute;
    left:2px;
    top:34px;
    width:185px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../简历流程_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:515px;
    top:1035px;
    width:163px;
    height:92px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:98px;
}

.u24 {
    position:absolute;
    left:2px;
    top:38px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25c0 {
    background-image: url('../简历流程_files/u25c0.png');
}

.u25c0 {
    position:absolute;
    left:588px;
    top:1006px;
    width:20px;
    height:29px;
}

.u25c1 {
    background-image: url('../简历流程_files/u25c1.png');
}

.u25c1 {
    position:absolute;
    left:586px;
    top:1015px;
    width:22px;
    height:20px;
}

.u25c2 {
    background-image: url('../简历流程_files/u25c2.png');
}

.u25c2 {
    position:absolute;
    left:586px;
    top:1015px;
    width:20px;
    height:24px;
}

.u26 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27c0 {
    background-image: url('../简历流程_files/u27c0.png');
}

.u27c0 {
    position:absolute;
    left:586px;
    top:1123px;
    width:20px;
    height:43px;
}

.u27c1 {
    background-image: url('../简历流程_files/u27c1.png');
}

.u27c1 {
    position:absolute;
    left:580px;
    top:1146px;
    width:26px;
    height:20px;
}

.u27c2 {
    background-image: url('../简历流程_files/u27c2.png');
}

.u27c2 {
    position:absolute;
    left:580px;
    top:1146px;
    width:20px;
    height:24px;
}

.u28 {
    position:absolute;
    left:-50px;
    top:14px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../简历流程_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:415px;
    top:191px;
    width:175px;
    height:60px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:66px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:171px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31c0 {
    background-image: url('../简历流程_files/u31c0.png');
}

.u31c0 {
    position:absolute;
    left:492px;
    top:247px;
    width:20px;
    height:55px;
}

.u32 {
    position:absolute;
    left:-50px;
    top:12px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../简历流程_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:365px;
    top:292px;
    width:275px;
    height:165px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:171px;
}

.u34 {
    position:absolute;
    left:2px;
    top:74px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../简历流程_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:750px;
    top:322px;
    width:198px;
    height:94px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:100px;
}

.u36 {
    position:absolute;
    left:2px;
    top:23px;
    width:194px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37c0 {
    background-image: url('../简历流程_files/u37c0.png');
}

.u37c0 {
    position:absolute;
    left:636px;
    top:364px;
    width:114px;
    height:20px;
}

.u37c1 {
    background-image: url('../简历流程_files/u37c1.png');
}

.u37c1 {
    position:absolute;
    left:730px;
    top:359px;
    width:20px;
    height:25px;
}

.u37c2 {
    background-image: url('../简历流程_files/u37c2.png');
}

.u37c2 {
    position:absolute;
    left:730px;
    top:359px;
    width:24px;
    height:20px;
}

.u38 {
    position:absolute;
    left:8px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:657px;
    top:344px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:515px;
    top:467px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:609px;
    top:852px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../简历流程_files/u35_normal.png');
}

.u42_container {
    position:absolute;
    left:796px;
    top:715px;
    width:198px;
    height:94px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:100px;
}

.u43 {
    position:absolute;
    left:2px;
    top:31px;
    width:194px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44c0 {
    background-image: url('../简历流程_files/u44c0.png');
}

.u44c0 {
    position:absolute;
    left:706px;
    top:760px;
    width:90px;
    height:20px;
}

.u44c1 {
    background-image: url('../简历流程_files/u44c1.png');
}

.u44c1 {
    position:absolute;
    left:776px;
    top:752px;
    width:20px;
    height:28px;
}

.u44c2 {
    background-image: url('../简历流程_files/u44c2.png');
}

.u44c2 {
    position:absolute;
    left:776px;
    top:752px;
    width:24px;
    height:20px;
}

.u45 {
    position:absolute;
    left:-3px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:720px;
    top:737px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

