body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../职位管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:168px;
    top:24px;
    width:1018px;
    height:492px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1024px;
    height:498px;
}

.u1 {
    position:absolute;
    left:2px;
    top:238px;
    width:1014px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../职位管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:188px;
    top:99px;
    width:312px;
    height:245px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:251px;
}

.u3 {
    position:absolute;
    left:2px;
    top:114px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:188px;
    top:45px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:207px;
    top:127px;
    width:150px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:241px;
    top:300px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:351px;
    top:300px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../职位管理_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:521px;
    top:99px;
    width:312px;
    height:245px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:251px;
}

.u9 {
    position:absolute;
    left:2px;
    top:114px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:627px;
    top:209px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../职位管理_files/u2_normal.png');
}

.u11_container {
    position:absolute;
    left:850px;
    top:99px;
    width:312px;
    height:245px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:251px;
}

.u12 {
    position:absolute;
    left:2px;
    top:114px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:869px;
    top:125px;
    width:150px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:283px;
    top:120px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:283px;
    top:155px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:283px;
    top:188px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:283px;
    top:223px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:1007px;
    top:106px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:1084px;
    top:106px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

