body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../简历页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:13px;
    width:245px;
    height:185px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:251px;
    height:191px;
}

.u1 {
    position:absolute;
    left:2px;
    top:84px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../简历页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:57px;
    top:42px;
    width:105px;
    height:101px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:101px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:79px;
    top:164px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../简历页_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:274px;
    top:13px;
    width:611px;
    height:395px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:617px;
    height:401px;
}

.u6 {
    position:absolute;
    left:2px;
    top:190px;
    width:607px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:293px;
    top:29px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:295px;
    top:66px;
    width:570px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:618px;
    top:350px;
    width:152px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:293px;
    top:338px;
    width:290px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../简历页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:223px;
    width:245px;
    height:272px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:251px;
    height:278px;
}

.u12 {
    position:absolute;
    left:2px;
    top:128px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:53px;
    top:438px;
    width:188px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:293px;
    top:140px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:295px;
    top:174px;
    width:570px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:293px;
    top:215px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:293px;
    top:259px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:69px;
    top:236px;
    width:150px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

